---
title: Installing and Configuring Altoros Heartbeat for PCF
owner: Partners
---

This topic describes how to install and configure Altoros Heartbeat for Pivotal Cloud Foundry (PCF).

<p class="note"><strong>Note</strong>: If you update the Altoros Heartbeat for PCF tile, the collectd BOSH add-on must be <a href="installing-collectd.html">updated</a> as well.</p>

##<a id='install'></a>Install and Configure Altoros Heartbeat for PCF

1. Download the product file and the collectD add-on from [Pivotal Network](https://network.pivotal.io/products/altoros-heartbeat).

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file.

1. Under the **Import a Product** button, click **+** next to the version number of Altoros Heartbeat for PCF.
This adds the tile to your staging area.

1. Click the newly added **Altoros Heartbeat for PCF** tile.

1. Click **Save**.

##<a id='configureaz'></a>Configure AZ and Network Assignments

1. In Pivotal Ops Manager, click the **Altoros Heartbeat for PCF** tile to open its configuration options.

1. From the Settings tab, click **Assign AZs** and **Networks** to configure the network and availability zones.

    <%= image_tag("images/az.png") %>

1. Click **Save**.

##<a id='alerts'></a>Configure Alerts

1. From the **Settings** tab, click **Heartbeat Alert Configuration**.

1. Specify the external server for uploading Grafana images so that they can be attached to Slack and email alert notifications:

    1. If you are using [AWS S3](https://aws.amazon.com/s3/) , enable the **S3** checkbox
       and provide your Amazon S3 Bucket URL, Amazon API Access Key ID, and Amazon API Secret Key.

         <%= image_tag("images/alert.png") %>

    1. If you are using WebDAV, enable the **webdav** checkbox and provide your WebDAV URL,
       username and password for WebDAV (basic auth), and (optional) the URL to send to users
       in notifications. The URL is appended to the resulting name of the uploaded file.

         <%= image_tag("images/alert-webdav.png") %>

1. To define email server settings, select the **SMTP** checkbox and complete the following fields:

    **Host**: The hostname of the outgoing SMTP server

    **Username**: Your SMTP server username

    **Password**: Your SMTP server password

    **Address used when sending out emails**: The address from which emails will be sent

    <%= image_tag("images/alert-mail.png") %>

1. Click **Save**.

##<a id='nozzle'></a>Configure Graphite Nozzle

1. From the **Settings** tab, click **Heartbeat Graphite Nozzle Configuration**.

1. To complete the **Credentials** for the **OpsManager Director** fields, provide username and password for the **OpsManager Director**:

    1. Navigate to the **Ops Manager Installation Dashboard** and click the **Ops Manager Director** tile.

    1. In the **Credentials** tab, click **Link to Credentials** next to **Director Credentials**.

         <%= image_tag("images/graphite-nozzle-1.png") %>

    1. Copy the identity and password values from the JSON file that opens.

         <pre class="terminal">
    {"credential":{"type":"simple_credentials","value":{"identity":"director","password":"XYXYXYXYXYXYXYXYXXY"}}}
    </pre>

    1. Paste the retrieved username and password into the **Credentials** for the **OpsManager Director** fields.

1. If you are using several apps domains in PCF, provide a comma-separated list of additional (other than the apps domain indicated in the Pivotal Elastic Runtime, which needs not to be provided) domains to filter **HttpStartStop** metrics out.

    <%= image_tag("images/graphite-nozzle-2.png") %>

1. Click **Save**.

##<a id='grafana'></a>Configure Grafana

1. From the **Settings** tab, click **Heartbeat Grafana Configuration**.

1. Provide the following information:

    1. The organization and space within PCF granting users admin access rights to Altoros Heartbeat.<br><br>
       In Altoros Heartbeat, the following users have access to the Admin View:
           <ul>
             <li>Administrator accounts within PCF</li>
             <li>User accounts within PCF are assigned to the above specified org and space</li>
           </ul>
       Cloud Foundry user rights map to Grafana rights in the following way:
           <table>
         <th>PCF space</th><th>Grafana organisation</th>
         <tr><td>Space Manager</td><td>Admin</td></tr>
         <tr><td>Space Developer</td><td>Editor</td></tr>
         <tr><td>Space Auditor</td><td>Viewer</td></tr>
         </table><br><br>


    1. The email domain to be appended to the user's login if the latter does not represent a real email address.

         <%= image_tag("images/grafana.png") %>

1. Click **Save**.

##<a id='storage_configuration'></a>Configure Metrics Storage

Configuration of Altoros Heartbeat's metrics storage helps prevent undesirable expansion of the metric tree resulting in overloaded dashboards, cluttered drop-down menus, extra disk usage, etc. To configure the metrics storage:

1. In the **Settings** tab, click **Heartbeat Metrics Storage Configuration**.

1. Select the **Enable** checkbox to activate removal of inactive metrics from the metrics storage.

1. Specify the time period (in days) upon expiry of which the metrics that haven't received any new values throughout will be considered inactive.

    <%= image_tag("images/metrics_storage_configuration.png") %>

1. Click **Save**.

##<a id='boshhm'></a>Configure BOSH HM Forwarder

1. In the **Settings** tab, click **BOSH HM Forwarder configuration**.

1. Specify the default port BOSH HM Forwarder will use to forward the metrics collected from BOSH Agents.

    <%= image_tag("images/bosh-hm-forwarder.png") %>

1. Click **Save**.

##<a id='logsearch_integration'></a>Configure Integration with Altoros Log Search for PCF

To enable integration with the Log Search for PCF tile from Altoros:

1. In the **Settings** tab, click **Integration with Altoros Log Search for PCF**.

1. Provide the Elasticsearch Master IP:

    1. Navigate to the **Ops Manager Installation Dashboard** and click the **Altoros Log Search for PCF** tile.

    1. In the **Status** tab, copy the first **Elasticsearch Master IP** from the list.

        <%= image_tag("images/ip_of_elasticsearch.png") %>

    1. Paste the copied IP into the **Elasticsearch Master IP** field.

        <%= image_tag("images/integration_with_logsearch.png") %>

1. Click **Save**.

For more information about this feature, see [**Altoros Log Search for PCF Integration**](integration-with-logsearch.html).

##<a id='external_services'></a>Configure External Services Monitoring

<p class="note"><strong>Note</strong>: Before configuring External Services Monitoring, make sure you have installed 
   the latest version of the <a href="https://network.pivotal.io/products/altoros-heartbeat">collectd BOSH add-on</a>.</p>

1. In the **Settings** tab, click **External Services Monitoring Configuration**.

    <%= image_tag("images/external_services.png") %>

1. Click **Add** next to the services you want to monitor and complete the following fields:

    1. For MySQL Servers:

        **Host**: the IP address or hostname of the MySQL server

        **Port**: the port number on which the server listens

        **User** and **Password**: the username and password used to access the MySQL server

    1. For PostgreSQL Databases:

        **Host**: the IP address or hostname of the database

        **Port**: the port number on which the PostgreSQL database listens

        **User** and **Password**: the username and password used to access the database

        The **Enable disk IO by table** checkbox, when selected, measures the disc I/O usage by each specific table. **Note** that enabling this feature escalates significantly the number of generated metrics, so, by default, the checkbox is disabled.

    1. For MongoDB Servers:

        **Host**: the IP address or hostname of the MongoDB server

        **Port**: the port number on which the server listens

        **User** and **Password**: (optional) the username and password used to access the server

        **A space-separated list of MongoDB databases**: names of the monitored databases. The **admin** database will be added automatically.

    1. For Memcached Servers:

        **Host**: the IP address or hostname of the Memcached server

        **Port**: the port number on which the server listens

    1. For Redis Servers:

        **Host**: the IP address or hostname of the Redis server

        **Port**: the port number on which the server listens

        **Password**: (optional) the password used to access the server

    1. For RabbitMQ Servers:

        **Host**: the IP address or hostname of the RabbitMQ  server

        **Port**: the port number on which the  server listens

        **User** and **Password**: the username and password used to access the server

1. Click **Save**.

<p class="note"><strong>Note</strong>: Currently, only one instance of the MongoDB, MySQL, or RabbitMQ services can be monitored.</p>

For more information about third-party services monitoring, see [Third-Party Services Monitoring](services-monitoring.html).

##<a id='mysqlproxy'></a>Configure MySQL Proxy

1. In the **Settings** tab, click **MySQL Proxy Configuration**.

1. Complete the following fields:

    1. **Load Balancer Unhealthy Threshold (Shutdown Delay)**: If you are using a load balancer above the proxies,
       enter your load balancers unhealthy total threshold time here in seconds.
       For example, if your load balancer polls every 30 seconds, and immediately fails over upon failure,
       set this property to 30 seconds.

    1. **Load Balancer Healthy Threshold (Start Delay)**: If you are using a load balancer above the proxies,
       enter your load balancers healthy total threshold time here in seconds.
       For example, if your load balancer polls every 30 seconds and requires three successful attempts,
       set this property to 90 seconds.

    1. **Consul Service Name**: If `consul_enabled` is true, switchboard registers with consul using this name.

    <%= image_tag("images/mysql-proxy.png") %>

1. Click **Save**.

##<a id='mysql'></a>Configure MySQL Server

1. In the **Settings** tab, click **MySQL Server Configuration**.

1. If you are controlling access to the database from outside of PCF and the access is limited by a hostname,
   clear the **Disable reverse DNS lookups checkbox**.

1. Complete the following fields:

   1. **Read-Only User Password**: The password to automatically provision a `roadmin` user
      with the right to read all databases in the system, but permission to write to none.
      Leave blank to disable the read-only user.

   1. **MySQL Start Timeout**: The minimum amount of time necessary for the MySQL process to start, in seconds.
      For advanced configuration, read the MySQL documentation before modifying.

    <%= image_tag("images/mysql-server.png") %>

1. Click **Save**.

##<a id='errands'></a>Configure Errands

1. In the **Settings** tab, click **Errands**.

    <%= image_tag("images/errands.png") %>

1. Select options for the following post-deploy errands:

    1. **Create Heartbeat UAA Client**: Creates an UAA Client for Heartbeat. The recommended option is `When Changed`.

    1. **Heartbeat Grafana Bootstrap**: Configures/updates Grafana for admin view; updates all service instances for Heartbeat (developer views). The recommended option is `On`.

    1. **Broker Registrar**: Registers Heartbeat's service broker. The recommended option is `When Changed`.

1. Select options for the following pre-delete errands:

    1. **Delete Heartbeat UAA Client**: Deletes the UAA Client for Heartbeat. The recommended option is `On`.

    1. **Broker Deregistrar**: Deregisters Heartbeat's service broker. The recommended option is `On`.

1. Click **Save**.

##<a id='resourceconfig'></a>Configure Resource Config

If you are using the **gp2** volume type with **Amazon EC2** instances and expect an intensive influx of metrics,
Altoros recommends provisioning at least 300&nbsp;GB of persistent disk volume to the Heartbeat PCF Monitoring service to ensure sustained IOPS performance.
Perform the following steps to increase the default disk volume value:

1. In the **Settings** tab, click **Resource Config**.

1. Change the default value in the Persistent disk type column next to Heartbeat PCF Monitoring from `100 GB` to `300 GB`.

    <%= image_tag("images/resource-config.png") %>

1. Click **Save**.

1. Return to the **Ops Manager Installation Dashboard** and click **Apply Changes** to apply the configuration settings.

<p class="note"><strong>Note</strong>: After you complete the procedures on this page,
follow the instructions in <a href="installing-collectd.html">Installing collectd Add-on for PCF</a>.</p>

##<a id='opsmanager'></a>Configure Ops Manager Director

1. In the **Status** tab, copy the **IP of Bosh HM Forwarder**.

    <%= image_tag("images/ops-manager-director-1.png") %>

1. In the **Ops Manager Installation Dashboard**, click the **Ops Manager Director** tile.

1. In the **Settings** tab, click **Director Config**.

2. Do one of the following:
  * For PCF v1.10, paste the copied BOSH HM Forwarder IP address into **Metrics IP Address**.

         <%= image_tag("images/ops-manager-director-2.png") %>
  * For PCF v1.11 or later, paste the copied BOSH HM Forwarder IP address into **Bosh HM Forwarder IP Address**.

         <%= image_tag("images/ops-manager-director-3.png") %>

1. Click **Save**.

1. Return to the **Ops Manager Installation Dashboard** and click **Apply Changes** to apply the configuration settings.

##<a id='redisrabbit'></a>Configure Redis and RabbitMQ

If you have Redis and RabbitMQ for PCF tiles installed and want to collect metrics from these services using Altoros Heartbeat,
adjust the Metrics polling interval for these services to `15`.

To set the metrics polling interval in Redis:

1. In the **Ops Manager Installation Dashboard**, click the **Redis tile**.

1. In the **Setting** tab, click **Metrics**.

1. In the **Metrics polling interval field**, enter `15`.

    <%= image_tag("images/configure-redis.png") %>

1. Click **Save**.

1. Return to the **Ops Manager Installation Dashboard** and click **Apply Changes** to apply the configuration settings.

To set the metrics polling interval in RabbitMQ:

1. In the **Ops Manager Installation Dashboard**, click the **RabbitMQ** tile.

1. In the **Setting** tab, click **RabbitMQ**.

1. Complete the **Metrics polling interval field** with `15`.

    <%= image_tag("images/configure-rabbitmq.png") %>

1. Click **Save**.

1. Return to the **Ops Manager Installation Dashboard** and click **Apply Changes** to apply the configuration settings.

<p class="note"><strong>Note</strong>: After you complete the procedures on this page,
   follow the instructions in <a href="installing-collectd.html">Installing collectd Add-on for PCF</a>.</p>
