---
title: Installing and Configuring Altoros Heartbeat for PCF
owner: Partners
---

This topic describes how to install and configure Altoros Heartbeat for Pivotal Cloud Foundry (PCF).

##<a id='install'></a> Install and Configure Altoros Heartbeat for PCF

1. Download the product file and the collectD add-on from [Pivotal Network](https://network.pivotal.io/).

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file. 

1. Under the **Import a Product** button, click **+** next to the version number of Altoros Heartbeat for PCF. 
This adds the tile to your staging area.

1. Click the newly added **Altoros Heartbeat for PCF** tile.

1. Click **Save**.

##<a id='configureaz'></a> Configure AZ and Network Assignments

1. In Pivotal Ops Manager, click the **Altoros Heartbeat for PCF** tile to open its configuration options.

1. From the Settings tab, click **Assign AZs** and **Networks** to configure the network and availability zones.

    <%= image_tag("images/az.png") %>

1. Click **Save**.

##<a id='alerts'></a> Configure Alerts

1. From the **Settings** tab, click **Heartbeat Alert Configuration**.

1. Specify the external server for uploading Grafana images so that they can be attached to Slack/email alert notifications:

    1. If you are using [AWS S3](https://aws.amazon.com/s3/) , enable the **S3** checkbox 
       and provide your Amazon S3 Bucket URL, Amazon API Access Key ID, and Amazon API Secret Key.

         <%= image_tag("images/alert.png") %>

    1. If you are using WebDAV, enable the **webdav** checkbox and provide your WebDAV URL,
       username and password for WebDAV (basic auth), and (optional) the URL to send to users
       in notifications. The URL is appended to the resulting name of the uploaded file.

         <%= image_tag("images/alert-webdav.png") %>

1. To define email server settings, select the **SMTP** checkbox and complete the following fields:

    **Host**: the hostname of the outgoing SMTP server

    **Username**: Your SMTP server username

    **Password**: Your SMTP server password

    **Address used when sending out emails**: The address from which emails will be sent

    <%= image_tag("images/alert-mail.png") %>

1. Click **Save**.   

##<a id='nozzle'></a> Configure Graphite Nozzle

1. From the **Settings** tab, click **Heartbeat Graphite Nozzle Configuration**.

1. To complete the **Credentials** for the **OpsManager Director** fields, provide username and password for the **OpsManager Director**:

    1. Navigate to the **Ops Manager Installation Dashboard** and click the **Ops Manager Director** tile. 

    1. In the **Credentials** tab, click **Link to Credentials** next to **Director Credentials**.

         <%= image_tag("images/graphite-nozzle-1.png") %>

    1. Copy the identity and password values from the JSON file that opens.

         <pre class="terminal">
    {"credential":{"type":"simple_credentials","value":{"identity":"director","password":"XYXYXYXYXYXYXYXYXXY"}}} 
    </pre>

    1. Paste the retrieved username and password into the **Credentials** for the **OpsManager Director** fields.

1. If you are using several apps domains in PCF, provide a comma-separated list of additional (other than the apps domain indicated in the Pivotal Elastic Runtime, which needs not to be provided) domains to filter **HttpStartStop** metrics out. If your system domain is different from the apps domain, mention it as well. 

    <%= image_tag("images/graphite-nozzle-2.png") %>

1. Click **Save**.

##<a id='grafana'></a> Configure Grafana

1. From the **Settings** tab, click **Heartbeat Grafana Configuration**.

1. Provide the following information:

    1. The organization and space within PCF granting users admin access rights to Altoros Heartbeat.<br><br>
       In Altoros Heartbeat, the following users have access to the Admin View:
           <ul>
             <li>Administrator accounts within PCF</li>
             <li>User accounts within PCF are assigned to the above specified org and space</li>
           </ul>
       Cloud Foundry user rights map to Grafana rights in the following way:
           <table>
         <th>PCF space</th><th>Grafana organisation</th>
         <tr><td>Space Manager</td><td>Admin</td></tr>
         <tr><td>Space Developer</td><td>Editor</td></tr>
         <tr><td>Space Auditor</td><td>Viewer</td></tr>
         </table><br><br>


    1. The email domain to be appended to the user's login if the latter does not represent a real email address.

         <%= image_tag("images/grafana.png") %>

1. Click **Save**

##<a id='boshhm'></a> Configure BOSH HM Forwarder

1. In the **Settings** tab, click **BOSH HM Forwarder** configuration.

1. Specify the default port BOSH HM Forwarder will use to forward the metrics collected from BOSH Agents.

    <p class="note"><strong>IMPORTANT</strong>: If you are using PCF v1.10 or later,
       uncheck the <storong>use non-secure communication</strong> for metrics checkbox.</p>

    <%= image_tag("images/bosh-hm-forwarder.png") %>

1. Click **Save**.

##<a id='mysqlproxy'></a> Configure MySQL Proxy

1. In the **Settings** tab, click **MySQL Proxy Configuration**.

1. Complete the following fields:

    1. **Load Balancer Unhealthy Threshold (Shutdown Delay)**: If you are using a load balancer above the proxies,
       enter your load balancers unhealthy total threshold time here in seconds.
       For example, if your load balancer polls every 30 seconds, and immediately fails over upon failure,
       set this property to 30 seconds.

    1. **Load Balancer Healthy Threshold (Start Delay)**: If you are using a load balancer above the proxies,
       enter your load balancers healthy total threshold time here in seconds.
       For example,` if your load balancer polls every 30 seconds and requires three successful attempts,
       set this property to 90 seconds.

    1. **Consul Service Name**: If `consul_enabled` is true, switchboard registers with consul using this name.

    <%= image_tag("images/mysql-proxy.png") %>

1. Click **Save**. 

##<a id='mysql'></a> Configure MySQL Server

1. In the **Settings** tab, click **MySQL Server Configuration**.

1. In case you are controlling access to the database from outside of PCF and the access is limited by a hostname,
   clear the **Disable reverse DNS lookups checkbox**.

1. Complete the following fields:

   1. **Read-Only User Password**: The password to automatically provision a `roadmin` user
      with the right to read all databases in the system, but permission to write to none.
      Leave blank to disable the read-only user.

   1. **MySQL Start Timeout**: The minimum amount of time necessary for the MySQL process to start, in seconds.
      For advanced configuration, read the MySQL documentation before modifying.

    <%= image_tag("images/mysql-server.png") %>

1. Click **Save**.

1. Return to the Ops Manager Installation Dashboard and click **Apply Changes** to apply the configuration settings.

##<a id='resourceconfig'></a> Configure Resource Config

If you are using the **gp2** volume type with **Amazon EC2** instances and expect an intensive influx of metrics, Altoros recommends provisioning at least 300&nbsp;GB of persistent disk volume to the Heartbeat PCF Monitoring service to assure sustained IOPS performance. To increase the default disk volume value:

1. In the **Settings** tab, click **Resource Config**.

1. Change the default 100&nbsp;GB value in the Persistent disk type column next to Heartbeat PCF Monitoring to 300&nbsp;GB.

    <%= image_tag("images/resource-config.png") %>

1. Click **Save**.

1. Return to the **Ops Manager Installation Dashboard** and click **Apply Changes** to apply the configuration settings.

##<a id='opsmanager'></a> Configure Ops Manager Director

1. In the **Status** tab, copy the **IP of Bosh HM Forwarder**.

    <%= image_tag("images/ops-manager-director-1.png") %>

1. In the **Ops Manager Installation Dashboard**, click the **Ops Manager Director** tile. 

1. In the **Settings** tab, click **Director Config** and paste the copied BOSH HM Forwarder IP address into the Metrics IP Address field.

    <%= image_tag("images/ops-manager-director-2.png") %>

1. Click **Save**.
 
1. Return to the **Ops Manager Installation Dashboard** and click **Apply Changes** to apply the configuration settings.

##<a id='redisrabbit'></a> Configure Redis and RabbitMQ

If you have Redis and RabbitMQ for PCF tiles installed and want to collect metrics from these services using Altoros Heartbeat, adjust the Metrics polling interval for these services to 15. 

To set the metrics polling interval in Redis:

1. In the **Ops Manager Installation Dashboard**, click the **Redis tile**.
 
1. In the **Setting** tab, click **Metrics**.
 
1. Complete the **Metrics polling interval field** with 15.

    <%= image_tag("images/configure-redis.png") %>

1. Click **Save**.

1. Return to the **Ops Manager Installation Dashboard** and click **Apply Changes** to apply the configuration settings.

To set the metrics polling interval in RabbitMQ:

1. In the **Ops Manager Installation Dashboard**, click the **RabbitMQ** tile.
 
1. In the **Setting** tab, click **RabbitMQ**.
 
1. Complete the **Metrics polling interval field** with 15.

    <%= image_tag("images/configure-rabbitmq.png") %>

1. Click **Save**.

1. Return to the **Ops Manager Installation Dashboard** and click **Apply Changes** to apply the configuration settings.















































 









