---
title: Altoros Log Search for PCF Integration
owner: Partners
---

This topic describes the functionality available to Altoros Heartbeat users upon integration with Altoros Log Search for Pivotal Cloud Foundry (PCF).

Integration with [Altoros Log Search for PCF](https://network.pivotal.io/products/altoros-log-search) gives users access to VM
and application logs right from the Grafana interface or by a direct link to the corresponding Kibana dashboard.


## <a id='apps'></a> Integration of Application Logs

On the **CF Apps Metrics for Ops with Logs**/**CF Apps Metrics for Devs with Logs** dashboard, you see:

<%= image_tag("images/apps_metrics_with_logs_header.png") %>

Clicking the **See logs** link opens a Kibana dashboard with configured **org**/**space**/**app** fields and a selected time interval.

The **Deploy** and **Errors** checkboxes, when selected,
enable [annotations](http://docs.grafana.org/reference/annotations/) for deployment/error events respectively on the graph.
For example:

<%= image_tag("images/annotation_example_apps.png") %>

At the bottom of the dashboard, you can view the application logs:

<%= image_tag("images/apps_metrics_with_logs_logs.png") %>


## <a id='vms'></a> Integration of VM Logs

On the **CF Components Stats with Logs** dashboard, you see:

<%= image_tag("images/components_stats_with_logs_header.png") %>

Clicking the **See logs** link opens a Kibana dashboard with configured **host**/**host index** fields
and a selected time interval.

The **Errors** checkbox, when selected, enables [annotations](http://docs.grafana.org/reference/annotations/)
for error events on the graph.
For example:

<%= image_tag("images/annotation_example_vms.png") %>

At the bottom of the dashboard, you can view the VM logs:

<%= image_tag("images/components_stats_with_logs_logs.png") %>
