---
title: Third-Party Services Monitoring
owner: Partners
---

This topic describes how to use dashboards for third-party services.

##<a id='mysql'></a>MySQL

<%= image_tag("images/mysql-dashboard-header.png") %>

1. To track metrics from internal MySQL databases used by PCF Elastic Runtime, open the **Service - MySQL \*** dashboards,
   select `cf-*` from the **Deployment** drop-down menu and `mysql` from the **Host** drop-down menu.

1. To track metrics from external MySQL databases used by PCF Elastic Runtime, open the **Service - MySQL \*** dashboards,
   select `cf-*` from the **Deployment** drop-down menu and `cloud_controller` from the **Host** drop-down menu.

1. To track metrics from the MySQL for PCF tile, open the **Service - MySQL \*** dashboards,
   select `p-mysql-*` from the **Deployment** drop-down menu and `mysql` from the **Host** drop-down menu.

1. To track metrics from an external MySQL installation, open the **Service - Mysql \*** dashboards,
   select `altoros-heartbeat-*` from the **Deployment** drop-down menu and `external-collectd` from the **Host** drop-down menu.

##<a id='postgresql'></a>PostgreSQL

<%= image_tag("images/postgresql-dashboard-header.png") %>

1. To track metrics from the Crunchy PostgreSQL (on-demand version) deployment, open the **Service - PostgreSQL Overview** dashboard,
   select `service-instance_*` from the **Deployment** drop-down menu and `postgresql` from the **Host** drop-down menu.

1. To track metrics from an internal PostgreSQL databases used by PCF Elastic Runtime, open the **Service - PostgreSQL Overview** dashboard,
   select `cf-*` from the **Deployment** drop-down menu and `postgres` from the **Host** drop-down menu.

1. To track metrics from an external PostgreSQL installation, open the **Service - Postgresql Overview** dashboard,
   select `altoros-heartbeat-*` from the **Deployment** drop-down menu and `name of your PostgreSQL host` from the **Host** drop-down menu.

##<a id='rabbitmq'></a>RabbitMQ

<%= image_tag("images/rabbitmq-dashboard-header.png") %>

1. To track metrics from the RabbitMQ for PCF tile, open the **Service - RabbitMQ \*** dashboards,
   select `p-rabbitmq-*` from the **Deployment** drop-down menu and `rabbitmq-broker` from the **Host** drop-down menu.

1. To track metrics from an external RabbitMQ installation, open the **Service - RabbitMQ \*** dashboards,
   select `altoros-heartbeat-*` from the **Deployment** drop-down menu and `external-collectd` from the Host drop-down menu.

##<a id='redis'></a>Redis

<%= image_tag("images/redis-dashboard-header.png") %>

1. To track metrics from the Redis for PCF tile, open the **Service - Redis Overview** dashboard,
   select `p-redis-*` from the **Deployment** drop-down menu and `cf-redis-broker` or `dedicated-node` from the **Host** drop-down menu.

1. To track metrics from an external Redis installation, open the **Service - Redis Overview** dashboard,
   select `altoros-heartbeat-*` from the **Deployment** drop-down menu and `name of your Redis host` from the **Host** drop-down menu.

##<a id='elasticsearch'></a>Elasticsearch

<p class="note"><strong>Note</strong>: Index stats are sent only from the active master.
   If you need different configuration, <a href="index.html#feedback">contact Altoros</a>.</p>

<%= image_tag("images/elasticsearch-dashboard-header.png") %>

1. To track metrics from the Altoros Log Search for PCF tile, open the **Service - Elasticsearch Overview** dashboard,
   select `logsearch-*` from the **Deployment** drop-down menu and `elasticsearch_data` or `cluster_monitor` from the **Host** drop-down menu.

##<a id='mongodb'></a>MongoDB

<%= image_tag("images/mongodb-dashboard-header.png") %>

1. To track metrics from an external MongoDB installation, open the **Service - MongoDB Overview** dashboard,
   select `altoros-heartbeat-*` from the **Deployment** drop-down menu and `external-collectd` from the **Host** drop-down menu.

##<a id='memcached'></a>Memcached

<%= image_tag("images/memcached-dashboard-header.png") %>

1. To track metrics from an external Memcached installation, open the **Service - Memcached Overview** dashboard,
   select `altoros-heartbeat-*` from the **Deployment** drop-down menu and `name of your Memcached host` from the **Host** drop-down menu.
