---
title: Using Altoros Heartbeat for PCF
owner: Partners
---

This topic describes how to use Altoros Heartbeat for Pivotal Cloud Foundry (PCF).

##<a id='create'></a>Creating a Service Instance, Heartbeat for Developers

To start using Heartbeat, a developer needs to create an Altoros Heartbeat service instance inside their org/space.
After this, they are able to navigate to a URL in a browser to access the Altoros Heartbeat Grafana dashboard and log in using their PCF login and password.
After login, the developer gets access to Developer View.

<p class="note"><strong>Note</strong>: You do not need to create service instances inside the org/space
   that grant users admin access rights to Altoros Heartbeat.
   These org/space are provided at the Grafana configuration step of the Altoros Heartbeat for PCF installation process).</p>

To create an Altoros Heartbeat service instance:

1. Navigate to cf-marketplace:

      <pre class="terminal">cf marketplace
        Getting services from marketplace in org admin / space demo as admin...
    OK
    service              plans                               description
    app-autoscaler       standard                            Scales bound applications in response to load (beta)
    heartbeat            standard                            Heartbeat Monitoring Solution</pre>

1. Find Heartbeat in the list of the available services and select the service plan.
   Currently, only the standard service plan is available, and it is selected by default.

1. Create a service instance.

      <pre class="terminal">cf create-service heartbeat standard heartbeat</pre>

##<a id='update'></a>Updating a Service Instance

Every time you rename an org/space, all service instances within this org/space need to be updated.
It can be done automatically through the **Heartbeat Grafana Bootstrap** errand or manually through a service update procedure.
Another case when you might need to update a service instance is to manually refresh dashboards for a specific org/space when the **Heartbeat Grafana Bootstrap** errand is disabled.

<p class="note"><strong>Note</strong>: Altoros highly recommends keeping the <b>Heartbeat Grafana Bootstrap</b> errand enabled.
 For details, see <a href="installing.html#errands">Configure Errands</a>.</p>

To update an Altoros Heartbeat service instancem, run:

<pre class="terminal">cf update-service heartbeat -c '{"version":some_new_number}'</pre>

where `some_new_number` is a number greater than that assigned to the service instance during the previous update. If it’s the first time the service instance is being updated, provide any number, e.g. `1`.

The most convenient approach is to use a Unix timestamp as `some_new_number`:

<pre class="terminal">cf update-service heartbeat -c "{\"version\":$(date +%s)}"</pre>

<p class="note"><strong>Note</strong>: The <b>date</b> command is only available in Linux and macOS.
   For Windows, use a Unix timestamp generator,
   e.g. <a href="http://www.unixtimestamp.com/">http://www.unixtimestamp.com/</a>.</p>

##<a id='access'></a>Accessing the Altoros Heartbeat Dashboard

To access the Altoros Heartbeat dashboard, perform the following steps:

1. Navigate to the **Ops Manager Installation Dashboard** and click the **Pivotal Elastic Runtime** tile.

1. From the **Settings** tab, click **Domain**.

1. Record the value for **Apps Domain**.

      <%= image_tag("images/monitoring-url.png") %>

1. Navigate to `https://monitoring.YOUR-APPS-DOMAIN.com`.

1. Log in to **Altoros Heartbeat** using your **Pivotal Elastic Runtime** credentials.

      <%= image_tag("images/using-pcf-authorization.png") %>

    A prompt requesting permission to access Altoros Heartbeat appears.

      <%= image_tag("images/using-prompt.png") %>

1. Click **Authorize**.

##<a id='configure'></a>Configuring the Altoros Heartbeat Dashboard

The Altoros Heartbeat dashboard is based on open source Grafana software.
For information about creating and editing Grafana graphs and panels, see [Grafana documentation](http://docs.grafana.org/guides/getting_started/).

##<a id='viewing'></a>Viewing Metrics from PCF

Altoros Heartbeat offers the following PCF deployment monitoring views: Admin view and User view.

###Admin View

A view from the admin org/space.

<%= image_tag("images/admin.png") %>

The dashboards accessible from the Admin view are:

**Overview** dashboards:

* The **Pivotal BOSH Overview dashboard** contains panels with BOSH health metrics, such as sum CPU and memory/swap usage, and VMs availability.

* The **Pivotal Cloud Foundry Overview** dashboard contain panels with metrics on the state of long-running processes,
  container count and capacity of remaining containers, % of running VMs, average CPU usage on cells,
  overall memory usage on cells, overall swap usage on cells, load average on cells, all TCP connections of routers,
  and all apps' CPU, memory and disk usage.

**Apps dashboards** cover app CPU and memory metrics, metrics on CPU usage and memory usage on Diego cell,
  disk usage, and HTTP requests/error/status code rates and response time.

**BOSH** dashboards:

* The Pivotal BOSH Overview dashboard contains panels with BOSH health metrics,
  such as sum CPU and memory/swap usage, and VMs availability.

* The Pivotal BOSH VMs dashboard contains panels with metrics of any VM managed by BOSH, including CPU usage,
  LA 1 min, memory/swap usage, health, health timeline, health status, system disc usage, persistent disc usage,
  and ephemeral disc usage.

**Cf component** dashboards provide full overview of PCF API Stats, installation capacity, and component-specific metrics from Consul, Diego, Etcd, Router, and UAA.

**Cf service** dashboards contain panels with service-specific metrics for various services (e.g. MySQL, PostgreSQL, Redis, and RabbitMQ).

For more information about third-party services monitoring, see [Third-Party Services Monitoring](services-monitoring.html).

<a id='alerting-dashboards'></a>**Alerting dashboards** include panels with BOSH HM alerts and Diego alerts.

To enable alerts after installing the Altoros Heartbeat for PCF tile, complete the following steps:

1. Configure [Alert Notification Channels](http://docs.grafana.org/alerting/notifications/)

1. Open dashboards with alerts (dashboards with tag **alerting**)

1. Click the save icon:</p>

      <%= image_tag("images/diego-alerts.png") %>

As an example of a custom alerting dashboard you can use <a href="examples/Example_of_Alerting_Dashboard.json" download>this dashboard with alerts for Diego cells' cpu/mem/swap and an alert for the percentage of running VMs in BOSH</a>.
Download and [import](http://docs.grafana.org/reference/export_import/#importing-a-dashboard) it to see how it works.

<%= image_tag("images/import-example-alerting-dashboard.png") %>

For information about creating and editing alerts in Grafana, see [Grafana documentation](http://docs.grafana.org/alerting/rules/).

###Developer View

A sample view from a developer org/space.

<%= image_tag("images/using-developer-dashboard.png") %>

The dashboards accessible from the Developer view are:

* The **PCF Apps Metrics for Devs dashboard** includes panes with metrics on CPU, memory,
  HTTP requests/error/status code rates, HTTP response types, and disk usage.

* The **JMX Metrics for Java Apps dashboard** includes panes with metrics on system swap usage,
  system CPU LA, JVM HEAP and non-HEAP memory usage, system memory usage, JVM loaded classes, thread, GC count, and GC crime.

